<!DOCTYPE html>

<html lang="en">

<head>
    <title>Judge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/judgePanel.css">
</head>

<body>
    <!-- <button id="btn" onclick="test()"> Click</button> -->
    <div class="border-bottom mb-3">
        <div class="ml-5 my-3">
            <h5>Internal Competition</h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center"> 
                <h1><%= side%> Judge</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4" id="blue_score">
                <div class="row d-flex justify-content-center">
                    
                    <h5>Coal</h5>
                </div>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-danger w-25 score-btn">-5</button>
                    <div class="item_score_display border text-center" id="scoreDisplay">0</div>
                    <button class="btn btn-info w-25 score-btn">+5</button>
                </div>
            </div>

            <div class="col-4" id="blue_score">
                <div class="row d-flex justify-content-center">
                    
                    <h5>Car status</h5>
                </div>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-secondary w-25" id="isOffSlop">Off</button>
                    <div class="item_score_display border bg bg-danger text-center" id="statusDisplay">Off</div>
                    <button class="btn btn-info w-25" id="isOnSlop">On</button>
                </div>
            </div>
           
        </div>
    </div>

    <script src="js/socket.io.js"></script>
    <script>
        const socket = io('/<%= side%>');

        $('.score-btn').click((e) => {
            let score = parseInt($(e.target).text());
            let p = $(e.target).siblings("div");

            socket.emit("change_score",score , (feedback) => {
                p.text(feedback);
            });
            // console.log(parseInt(p));
        });

        const updateStatusDisplay = (feedback) => {
                let display = $('#statusDisplay').removeClass('bg-danger bg-success');
                if(feedback) display.addClass('bg-success').text('On');
                else display.addClass('bg-danger').text('Off');
            };

        $('#isOnSlop, #isOffSlop').click((e) => {
            let status = $(e.target).text();
            let send_data = false;
        
            if(status === "On")  send_data = true;
            else send_data = false;

            socket.emit('changeIsOnSlopeStatus', send_data, updateStatusDisplay);
        });

        socket.on("update_score",(newScore) => {
            $('#scoreDisplay').text(newScore);
        });

        socket.on("updateIsOnSlopeStatus",(newStatus) => {
            updateStatusDisplay(newStatus);
        });

        socket.on('update', (data) => {
            $('#scoreDisplay').text(data.score);
            updateStatusDisplay(data.isOnSlope);
        });

    </script>
</body>

</html>